In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (0.2.12)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: numpy>=1.16.5 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (1.23.4)
Requirement already satisfied: lxml>=4.9.1 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (38.0.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: pandas>=1.3.0 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (1.5.2)
Requirement already satisfied: requests>=2.26 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from requests>=2.26->yfinance) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\envs\a43968\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr

yf.pdr_override()

# For time stamps
from datetime import datetime, timedelta


# The tech stocks we'll use for this analysis
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN', 'TSLA']

# Set up End and Start times for data grab
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN', 'TSLA']

end = datetime(2023, 2, 13)
start = datetime(2022, 1, 17)

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
    

company_list = [AAPL, GOOG, MSFT, AMZN, TSLA]
company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON", 'TSLA']

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
    
df = pd.concat(company_list, axis=0)
df.tail(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-01-30,178.050003,179.770004,166.500000,166.660004,166.660004,230878800,TSLA
2023-01-31,164.570007,174.300003,162.779999,173.220001,173.220001,196813500,TSLA
2023-02-01,173.889999,183.809998,169.929993,181.410004,181.410004,213806300,TSLA
2023-02-02,187.330002,196.750000,182.610001,188.270004,188.270004,217448300,TSLA
2023-02-03,183.949997,199.000000,183.690002,189.979996,189.979996,232662000,TSLA
2023-02-06,193.009995,198.169998,189.919998,194.759995,194.759995,186188100,TSLA
2023-02-07,196.429993,197.500000,189.550003,196.809998,196.809998,186010300,TSLA
2023-02-08,196.100006,203.000000,194.309998,201.289993,201.289993,180673600,TSLA
2023-02-09,207.779999,214.000000,204.770004,207.320007,207.320007,215431400,TSLA
2023-02-10,202.229996,206.199997,192.889999,196.889999,196.889999,204754100,TSLA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1345 entries, 2022-01-18 to 2023-02-10
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1345 non-null   float64
 1   High          1345 non-null   float64
 2   Low           1345 non-null   float64
 3   Close         1345 non-null   float64
 4   Adj Close     1345 non-null   float64
 5   Volume        1345 non-null   int64
 6   company_name  1345 non-null   object
dtypes: float64(5), int64(1), object(1)
memory usage: 84.1+ KB

In [4]:
df=df.drop('Adj Close',axis=1)
df.tail()

,Open,High,Low,Close,Volume,company_name
Date,,,,,,
2023-02-06,193.009995,198.169998,189.919998,194.759995,186188100,TSLA
2023-02-07,196.429993,197.500000,189.550003,196.809998,186010300,TSLA
2023-02-08,196.100006,203.000000,194.309998,201.289993,180673600,TSLA
2023-02-09,207.779999,214.000000,204.770004,207.320007,215431400,TSLA
2023-02-10,202.229996,206.199997,192.889999,196.889999,204754100,TSLA

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1345 entries, 2022-01-18 to 2023-02-10
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1345 non-null   float64
 1   High          1345 non-null   float64
 2   Low           1345 non-null   float64
 3   Close         1345 non-null   float64
 4   Volume        1345 non-null   int64
 5   company_name  1345 non-null   object
dtypes: float64(4), int64(1), object(1)
memory usage: 73.6+ KB

In [6]:
df.to_csv('PTCK1.csv', encoding='utf-8-sig')